<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.hhland.cordova.weibo"
        version="1.0.0">
    <name>WeiboPlugin</name>
    <description>hhland Cordova Weibo Plugin</description>
    <keywords>cordova,weibo,plugin</keywords>
    <author>newhzh</author>

    <preference name="WEIBO_APP_ID" />

    <js-module src="www/WeiboPlugin.js" name="WeiboPlugin">
        <clobbers target="WeiboPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="WeiboPlugin">
                <param name="android-package" value="com.hhland.cordova.weibo.WeiboSharePlugin"/>
            </feature>
            <preference name="WEIBO_APP_ID" value="$WEIBO_APP_ID"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--android mianfest for weibo web authorization -->
            <activity android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
                      android:configChanges="keyboardHidden|orientation"
                      android:windowSoftInputMode="adjustResize"
                      android:exported="false"
                      android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            </activity>
            <!--android mianfest for weibo share callback -->
            <activity
                    android:name="org.zy.yuancheng.weibo.WBShareResponseActivity"
                    android:configChanges="keyboardHidden|orientation"
                    android:screenOrientation="portrait" >
                <intent-filter>
                    <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
        </config-file>

        <source-file src="src/android/WeiboSharePlugin.java" target-dir="src/com/hhland/cordova/weibo" />
        <source-file src="src/android/WBShareResponseActivity.java" target-dir="src/com/hhland/cordova/weibo" />
        <source-file src="src/android/libs/arm64-v8a/libweibosdkcore.so" target-dir="libs/arme64-v8a/" />
        <source-file src="src/android/libs/armeabi/libweibosdkcore.so" target-dir="libs/armeabi/" />
        <source-file src="src/android/libs/armeabi-v7a/libweibosdkcore.so" target-dir="libs/armeabi-v7a/" />
        <source-file src="src/android/libs/mips/libweibosdkcore.so" target-dir="libs/mips/" />
        <source-file src="src/android/libs/mips64/libweibosdkcore.so" target-dir="libs/mips64/" />
        <source-file src="src/android/libs/x86/libweibosdkcore.so" target-dir="libs/x86/" />
        <source-file src="src/android/libs/x86_64/libweibosdkcore.so" target-dir="libs/x86_64/" />
        <source-file src="src/android/weiboSDKCore_3.1.2.jar" target-dir="libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="WeiboPlugin">
                <param name="ios-package" value="CDVWeibo"/>
            </feature>
            <preference name="WEIBO_APP_ID" value="$WEIBO_APP_ID"/>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>sinaweibohd</string>
                <string>sinaweibo</string>
                <string>weibosdk</string>
                <string>weibosdk2.5</string>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>$PACKAGE_NAME</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>wb$WEIBO_APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVWeibo.h" />
        <source-file src="src/ios/CDVWeibo.m" />

        <!-- Weibo Official -->
        <header-file src="src/ios/libWeiboSDK/WBHttpRequest.h" />
        <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboShare.h" />
        <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboToken.h" />
        <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboUser.h" />
        <header-file src="src/ios/libWeiboSDK/WBHttpRequest+WeiboGame.h" />
        <header-file src="src/ios/libWeiboSDK/WBSDKBasicButton.h" />
        <header-file src="src/ios/libWeiboSDK/WBSDKCommentButton.h" />
        <header-file src="src/ios/libWeiboSDK/WBSDKRelationshipButton.h" />
        <header-file src="src/ios/libWeiboSDK/WeiboSDK.h" />
        <header-file src="src/ios/libWeiboSDK/WeiboUser.h" />
        <source-file src="src/ios/libWeiboSDK/libWeiboSDK.a" framework="true"  compiler-flags="-objc"/>
        <resource-file src="src/ios/libWeiboSDK/WeiboSDK.bundle" />

        <!-- Other required frameworks -->
        <framework src="QuartzCore.framework" />
        <framework src="ImageIO.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreText.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.dylib" />
    </platform>

</plugin>